<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>daily</title>
  </head>
  <body>
    <%- include('./components/_header'); %>
      this is daily
      <%= userId  %>
      <%= name  %>
      <div class='gantt-wrap'>
        <svg id="gantt"></svg>
      </div>
      
  </body>
</html>