<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>受信一覧</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/custom.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body class="leading-normal tracking-normal text-white gradient" style="font-family: 'Source Sans Pro', sans-serif;" cz-shortcut-listen="true">
    <input type="hidden" id="receipt_workflows" value=<%= JSON.stringify(receipt_workflows)%>>
    <%- include('../components/_header')  %>
    <a href="/workflow">戻る</a>
    <p>受信一覧</p>
    <ul id="receipt_ls" class="flex flex-col"></ul>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const receipt_workflows = JSON.parse(document.getElementById('receipt_workflows').value);
        receipt_workflows.forEach(workflow => {
          let status_text;
          workflow.is_complete ===1 ? status_text = "完了" : status_text = "まだ";
          $('#receipt_ls').append(`<li><a href="/receipt_confirm/${workflow.id}">id: ${workflow.id} 申請者名: ${workflow.user_name} name: ${workflow.pathway_name} KPI: ${status_text}</a></li>`)
        });
      })
    </script>
  </body>
</html>